# Ignore sublime file #
#######################
*.sublime-project
*.sublime-workspace

# Ignore folders #
##################
/node_modules
/react-pages

# Ignore React.js files #
#########################
/app.js
*.json